<a href="https://colab.research.google.com/github/vignesh0361/Pyspark/blob/main/0_G_DF_distinct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

sample_df = spark.createDataFrame([
    ("New Orleans", "Louisisna", "USA"),
    ("New York City", "New York", "USA"),
    ("Baton Rouge", "Louisisna", "USA"),
    ("Coimbatore", "Tamil Nadu", "India"),
    ("Ooty", "Tamil Nadu", "India"),
    ("New Orleans", "Louisisna", "USA")
    ], ["City", "State", "Country"])

Always use distinct for the complete DF

In [11]:
sample_df_dst2 = sample_df.distinct()
sample_df_dst2.show()

+-------------+----------+-------+
|         City|     State|Country|
+-------------+----------+-------+
|  Baton Rouge| Louisisna|    USA|
|New York City|  New York|    USA|
|  New Orleans| Louisisna|    USA|
|         Ooty|Tamil Nadu|  India|
|   Coimbatore|Tamil Nadu|  India|
+-------------+----------+-------+

In [17]:
from pyspark.sql.functions import col

sample_df_dst = sample_df.dropDuplicates(["Country"])
sample_df_dst.show()
sample_df_dst.select(col("country")).show()

+-----------+----------+-------+
|       City|     State|Country|
+-----------+----------+-------+
| Coimbatore|Tamil Nadu|  India|
|New Orleans| Louisisna|    USA|
+-----------+----------+-------+

+-------+
|country|
+-------+
|    USA|
|  India|
+-------+