<a href="https://colab.research.google.com/github/vignesh0361/Pyspark/blob/main/0_H_DF_NVL_fill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

sample_df = spark.createDataFrame([
    (1, "New Orleans", "Louisisna", "USA", "Fav city"),
    (2, "New York City", None, None, None),
    (3, "Baton Rouge", "Louisisna", "USA", "Heart"),
    (4, "Coimbatore", "Tamil Nadu", None, "Mind"),
    (5, "Ooty", "Tamil Nadu", "India", "Soul"),
    (None, "New Orleans", "Louisisna", "USA", None)
    ], ["ID", "City", "State", "Country", "Comments"])

In [6]:
sample_df.na.fill(6).show() # Replaces all number nulls with 6

+---+-------------+----------+-------+--------+
| ID|         City|     State|Country|Comments|
+---+-------------+----------+-------+--------+
|  1|  New Orleans| Louisisna|    USA|Fav city|
|  2|New York City|      NULL|   NULL|    NULL|
|  3|  Baton Rouge| Louisisna|    USA|   Heart|
|  4|   Coimbatore|Tamil Nadu|   NULL|    Mind|
|  5|         Ooty|Tamil Nadu|  India|    Soul|
|  6|  New Orleans| Louisisna|    USA|    NULL|
+---+-------------+----------+-------+--------+

In [7]:
sample_df.na.fill("unknown").show() # Replaces all Str nulls with 6

+----+-------------+----------+-------+--------+
|  ID|         City|     State|Country|Comments|
+----+-------------+----------+-------+--------+
|   1|  New Orleans| Louisisna|    USA|Fav city|
|   2|New York City|   unknown|unknown| unknown|
|   3|  Baton Rouge| Louisisna|    USA|   Heart|
|   4|   Coimbatore|Tamil Nadu|unknown|    Mind|
|   5|         Ooty|Tamil Nadu|  India|    Soul|
|NULL|  New Orleans| Louisisna|    USA| unknown|
+----+-------------+----------+-------+--------+

In [10]:
# Replace nulls with specific values for different columns/data types
filled_df = sample_df.na.fill(value=6,subset=["ID"]) \
                     .na.fill(value="unknown", subset=["City", "State", "Country", "Comments"])

# Show the DataFrame with replaced null values
filled_df.show()

+---+-------------+----------+-------+--------+
| ID|         City|     State|Country|Comments|
+---+-------------+----------+-------+--------+
|  1|  New Orleans| Louisisna|    USA|Fav city|
|  2|New York City|   unknown|unknown| unknown|
|  3|  Baton Rouge| Louisisna|    USA|   Heart|
|  4|   Coimbatore|Tamil Nadu|unknown|    Mind|
|  5|         Ooty|Tamil Nadu|  India|    Soul|
|  6|  New Orleans| Louisisna|    USA| unknown|
+---+-------------+----------+-------+--------+