<a href="https://colab.research.google.com/github/vignesh0361/Pyspark/blob/main/0_I_DF_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

sample_df = spark.createDataFrame([
    (1, "New Orleans", "Louisisna", "USA", "Fav city"),
    (2, "New York City", None, None, None),
    (3, "Baton Rouge", "Louisisna", "USA", "Heart"),
    (4, "Coimbatore", "Tamil Nadu", None, "Mind"),
    (5, "Ooty", "Tamil Nadu", "India", "Soul"),
    (None, "New Orleans", "Louisisna", "USA", None)
    ], ["ID", "City", "State", "Country", "Comments"])

In [2]:
sample_df.groupBy("Country").sum("ID").show()

+-------+-------+
|Country|sum(ID)|
+-------+-------+
|   NULL|      6|
|    USA|      4|
|  India|      5|
+-------+-------+

In [7]:
from pyspark.sql.window import Window
import pyspark.sql.functions as F
#
window = Window.partitionBy("Country").orderBy(F.col("ID").desc())
s_df = sample_df.withColumn("rank", F.rank().over(window))
s_df.na.fill("unknown").show()

+----+-------------+----------+-------+--------+----+
|  ID|         City|     State|Country|Comments|rank|
+----+-------------+----------+-------+--------+----+
|   4|   Coimbatore|Tamil Nadu|unknown|    Mind|   1|
|   2|New York City|   unknown|unknown| unknown|   2|
|   5|         Ooty|Tamil Nadu|  India|    Soul|   1|
|   3|  Baton Rouge| Louisisna|    USA|   Heart|   1|
|   1|  New Orleans| Louisisna|    USA|Fav city|   2|
|NULL|  New Orleans| Louisisna|    USA| unknown|   3|
+----+-------------+----------+-------+--------+----+