<a href="https://colab.research.google.com/github/vignesh0361/Pyspark/blob/main/Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating a basic DF with some data**

In [21]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.createDataFrame(
    [(14, "Tom"), (23, "Alice"), (16, "Bob")],
     ["age", "name"]
    )

**Selecting from dataframe**

In [6]:
df.select(df.name, df.age).show()

+-----+---+
| name|age|
+-----+---+
|  Tom| 14|
|Alice| 23|
|  Bob| 16|
+-----+---+

**Filtering from the DF**

In [8]:
df.filter((df.age>15) & (df.name.contains("o"))).show()

+---+----+
|age|name|
+---+----+
| 16| Bob|
+---+----+

**Describing the DF**

In [9]:
df.describe().show()

+-------+------------------+-----+
|summary|               age| name|
+-------+------------------+-----+
|  count|                 3|    3|
|   mean|17.666666666666668| NULL|
| stddev| 4.725815626252608| NULL|
|    min|                14|Alice|
|    max|                23|  Tom|
+-------+------------------+-----+

**Using withColumn to create a new column**

In [12]:
df.withColumn("age",df.age+1).show()

+---+-----+
|age| name|
+---+-----+
| 15|  Tom|
| 24|Alice|
| 17|  Bob|
+---+-----+

**Using withColumn to create a new column**

In [14]:
from pyspark.sql.functions import when
df.withColumn("type", when(df.age <= 15, "kid").otherwise("adult")).show()

+---+-----+-----+
|age| name| type|
+---+-----+-----+
| 14|  Tom|  kid|
| 23|Alice|adult|
| 16|  Bob|adult|
+---+-----+-----+

In [15]:
people = spark.createDataFrame([
    {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
    {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
    {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
    {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
])

In [16]:
display(people)

DataFrame[age: bigint, deptId: bigint, gender: string, name: string, salary: bigint]

In [17]:
people.show()

+---+------+------+-------------+------+
|age|deptId|gender|         name|salary|
+---+------+------+-------------+------+
| 40|     1|     M| Hyukjin Kwon|    50|
| 50|     1|     M|Takuya Ueshin|   100|
| 60|     2|     F| Xinrong Meng|   150|
| 20|     3|     M|  Haejoon Lee|   200|
+---+------+------+-------------+------+