<a href="https://colab.research.google.com/github/vignesh0361/Pyspark/blob/main/Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating a basic DF with some data**

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

df = spark.createDataFrame(
    [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])

**Selecting from dataframe**

In [6]:
df.select(df.name, df.age).show()

+-----+---+
| name|age|
+-----+---+
|  Tom| 14|
|Alice| 23|
|  Bob| 16|
+-----+---+

**Filtering from the DF**

In [8]:
df.filter((df.age>15) & (df.name.contains("o"))).show()

+---+----+
|age|name|
+---+----+
| 16| Bob|
+---+----+

**Describing the DF**

In [9]:
df.describe().show()

+-------+------------------+-----+
|summary|               age| name|
+-------+------------------+-----+
|  count|                 3|    3|
|   mean|17.666666666666668| NULL|
| stddev| 4.725815626252608| NULL|
|    min|                14|Alice|
|    max|                23|  Tom|
+-------+------------------+-----+